.env.deploy
node_modules
dist
build
.turbo
.cache
.DS_Store
*.log
.env
.env.local
.firebase
.firebaserc.local
firebase-debug.log
firestore-debug.log
ui-debug.log
emulator-data
apps/react/dist
packages/shared/dist
functions/lib
